$primaryColor600: hsl(169, 82%, 27%);
$primaryColor200: hsl(148, 38%, 91%);
$errorColor: hsl(0, 66%, 54%);
$neutralColor: hsl(0, 0%, 100%);
$neutralColor500: hsl(186, 15%, 59%);
$neutralColor900: hsl(187, 24%, 22%);
