@import "./colors";
@import "./typography";

%primaryButton {
	border-radius: 0.5rem;
	background-color: $primaryColor600;
	border: none;
	outline: none;
	padding: 1.25rem;
	color: $neutralColor;
	grid-column: span 12;
	font-weight: 700;
	cursor: pointer;
	font-size: 1rem;

	&:hover {
		background-color: $primaryColor900;
		transition: all 0.2s ease-in-out;
	}
}
